:host {
  display: block;
}

h1 {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 16px; 
  padding: 50px;
  margin: 0 auto;
  max-width: 1200px; 
}

mat-card {
  flex: 1; 
  text-align: center;
  border-radius: 12px; 
  overflow: hidden; 
  width: 300px; 
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 10px; 
}

mat-card-title {
  margin-bottom: 10px; 
}