<h1>let's play</h1>
<div class="card-container">
<mat-card appearance="outlined">
    <mat-card-content>
      <h1> word sorting</h1><br>
      <p>for each word the player must choose wheter the word fits the category or not </p>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content>
        <h1>word mess</h1><br>
    <p> Players are given a set of scrambled letters and must rearrange them to spell out a correct word</p>
    </mat-card-content>
  </mat-card>
</div>