<div class="page">
<h3>Translate the words in category {{currentCategory?.name}}</h3>
<form  class="example-form">
<div *ngFor="let word of currentCategory?.words;index as i">  
    <mat-form-field >
        <mat-label>{{word.origin}}</mat-label>
        <input matInput [(ngModel)]="word.guess" name="word{{i}}" >
    </mat-form-field>

</div>
<button
    mat-raised-button
    color="primary"
    (click)="checkWords()">
    Check
</button>
</form>

<mat-card>
    <mat-card-content>{{message}}</mat-card-content>
  </mat-card>
</div>


