<div class="cardsDiv">
    <app-cards-game [cardsNum]="cardsNumOfGames" cardsDescription="🎉Games"></app-cards-game>
    <app-cards-game [cardsNum]="cardsNum0fPoints" cardsDescription="🏅Points"></app-cards-game>
    <app-cards-game [cardsNum]="cardsNumOfCategories" cardsDescription="🎯Categories Learn"></app-cards-game>
    <app-cards-game [cardsNum]="cardsPercent" cardsDescription="🚀Perfect Games"></app-cards-game>
    <app-cards-game [cardsNum]="cardsDaysStrike" cardsDescription="🙏🏽Days Strike"></app-cards-game>
    <app-cards-game [cardsNum]="cardsMonthlyGame" cardsDescription="📅Games this month more to complate Challenge"></app-cards-game>
    <app-cards-game [cardsNum]="cardsName" cardsDescription="Hightest score game"></app-cards-game>
    </div>

