<div class="containerh2">
  <h2>Word Sorting Game - {{ category?.name }}</h2>
</div>
<app-exit-icon> </app-exit-icon>
<div class="progress-bar-container">
  
    <form #mixGameForm="ngForm" (ngSubmit)="submit()">
        <div class="timer-container">
          <mat-icon>alarm</mat-icon>
          <!-- <app-timer
            [duration]="gameDuration"
            (timeUp)="handleTimeUp()"
            (reportTimeLeft)="handleTimeLeftReport($event)"
          ></app-timer> -->
        </div>
    
        <div>
          <div class="r">
            <h1>Mixed Letters - {{ category?.['name'] }}</h1>
            <div class="mix-game">
              <span>Hebrew word: {{ words[index]["target"] }}</span>
              <br>
              <span>English mixed word: {{ mixWord }}</span>
              <h4>Your Guess:</h4>
              <mat-form-field appearance="fill">
                  <input matInput placeholder="Enter your guess"
                  [(ngModel)]="words[index]['guess']"
                  name="guess"
                  #guessField="ngModel"
                  required/>
              </mat-form-field>
              <div class="button-row">
                <button type="button" mat-raised-button color="primary" (click)="reset()">Reset</button>
                <button type="submit" mat-raised-button color="primary" [disabled]="mixGameForm.invalid">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>

        


<!-- <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  
  <div *ngIf="!endGame && words && !isLoading">
    <mat-icon class="exit" (click)="exit()">exit_to_app</mat-icon>
  
    <form #mixGameForm="ngForm" (ngSubmit)="submit()">
      <div class="timer-container">
        <mat-icon>alarm</mat-icon>
        <app-timer
          [duration]="gameDuration"
          (timeUp)="handleTimeUp()"
          (reportTimeLeft)="handleTimeLeftReport($event)"
        ></app-timer>
      </div>
  
      <div>
        <div class="r">
          <h1>Mixed Letters - {{ category?.['name'] }}</h1>
          <div class="mix-game">
            <span>{{ words[index]["target"] }}</span>
            <span>{{ mixWord }}</span>
            <mat-form-field>
              <mat-label>Guess:</mat-label>
              <input
                matInput
                [(ngModel)]="words[index]['guess']"
                name="guess"
                #guessField="ngModel"
                required
              />
            </mat-form-field>
  
            <div class="button-row">
              <button type="button" mat-raised-button color="primary" (click)="reset()">Reset</button>
              <button type="submit" mat-raised-button color="primary" [disabled]="mixGameForm.invalid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  
    <br />
  
    <div class="progress-container">
      <div class="progress-bar">
        <mat-progress-bar mode="determinate" [value]="calculateProgress()"></mat-progress-bar>
        <div class="progress-text">{{ calculateProgress() | number : "1.0-0" }}%</div>
      </div>
    </div>
  </div> -->
