mat-card {
  flex: 1; 
  text-align: center;
  border-radius: 12px; 
  overflow: hidden; 
  width: 150px; 
  height: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 10px; 
  background-color: #e0e0ff;
  border: 2px solid #007bff;
  padding: 15px;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}